main {
  background: url('../assets/Rectangle\ 141.png') no-repeat center;
  background-size: cover;
  height: 2150px;
  padding: 50px 0;
}
.links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.links a {
  color: #9d9d9d;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
.link-about {
  color: #000 !important;
}
.about {
  padding: 30px 0;
}
.about-in {
  display: flex;
  gap: 90px;
}
.about-left img {
  width: 400px;
  height: 450px;
}
.about-right h3 {
  color: #0f0f0f;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 20px;
}

.about-right p {
  color: #0f0f0f;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1.75px;
  text-transform: lowercase;
  width: 660px;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #0f0f0f;
  margin: 35px 0;
}
.title {
  color: #0f0f0f;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.25px;
  word-spacing: 10px;
}
.title:last-child {
  margin-top: 30px;
}
.about2-in {
  display: flex;
  gap: 90px;
}
.img-in {
  position: relative;
}
.flower-mini {
  position: absolute;
  right: 40px;
  bottom: 0;
}
.about2-right {
  width: 490px;
}
.about2-right h3{
    color: #0F0F0F;
font-size: 30px;
font-weight: 400;
}
.about2-right ul li {
  margin-top: 30px;
  color: #0f0f0f;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.25px;
}
.text-b{
    font-size: 40px;
    margin: 30px 0;
}
.bouquet-in{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.bouquet-in img{
    width: 370px;
    height: 370px;
}