footer {
  height: 310px;
  background-color: #000;
  position: relative;
  color: #fff;
  padding: 40px;
}
.nav-footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
}
footer a {
    color:#fff;
}
.footer-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-3 p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 8px;
}
.footer-4{
    position: absolute;
    right: 0;
    bottom: 7px;
}